# 机器学习（入门）探索数据集

## 研究项目：《泰坦尼克号》生还探索

### 序
       1912年的一天，当时世界上体积最庞大、内部设施最豪华的客运轮船，有“永不沉没”美誉的泰坦尼克号，在她的处女航中撞冰山沉入大西洋底3700米处，船上1500多人丧生。一百多年后，人们对这一场旷世海难依然充满好奇，从电影作品到考古探索，越来越多的故事与猜想。那么，这艘在上世纪初无与伦比的豪华巨轮，怎么说翻就翻了？在翻船前，除了杰克与露丝的爱情，泰坦尼克号还经历了什么？
       那么到底是什么影响了乘客的生还，透过生还数据，我们能得到什么样的结果？接下来，我会通过数据分析告诉你哪些特征会影响生存率。
### 数据集
      著名的数据分析竞赛网站Kaggle上，举行了很多数据分析比赛，其中比较著名的就有 泰坦尼克号乘客生还预测 。
      Kaggle提供的数据集中，包括泰坦尼克号上 2224 名乘客和船员中 891 名的人口学数据和乘客基本信息。
### 数据字典
|属性	       |定义	             |值说明|
|:-|:---|:---|
|**PassengerId**|乘客编号            |
|**Survived**	|生存情况            |0：死亡, 1：生存|
|**Pclass**	    |票类型	     |1：上层, 2：中间层, 3：底层|
|**Name**	    |乘客姓名	|
|**Sex**	    |性别	|
|**Age**	    |年龄	|
|**SibSp**	    |兄弟/姐妹	|
|**Parch**	    |父母/孩子	|
|**Ticket**	    |票号	|
|**Fare**	    |票价	|
|**Cabin**	    |舱号	|
|**Embarked**	|出发港 |C：Cherbourg（瑟堡）, Q：Queenstown（皇后镇）, S：Southampton（南安普顿）|

### 加载数据

In [4]:
# 导入相关库
import pandas as pandas
import matplotlib.pyplot as plt

%matplotlib inline

# 读取'titanic-data.csv'
csv = pandas.read_csv('./titanic-data.csv')
csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB